<div class="container-fluid" >
    <div class="row justify-content-start pt-2 pb-2">
        <h4>Notify me when:</h4>
    </div>

    <div id="high-row" class="row justify-content-center align-items-center pt-1 disabled_row">
        <div class="col-md-1">
            <input type="checkbox" id="high-checkbox">
        </div>
        <div class="col-md-3">
            <h4>High</h4>
        </div>
        <div class="col-md-3">
            {% include 'popup_modal/select.html'%}
        </div>
        <div class="col-md-3">
            <input id="high" type="number" style="width: 80px;" class="form-control" maxlength="5">
        </div>
    </div>
    <div id="low-row" class="row justify-content-center align-items-center pt-2 disabled_row">
        <div class="col-md-1">
            <input type="checkbox" id="low-checkbox">
        </div>
        <div class="col-md-3">
            <h4>Low</h4>
        </div>
        <div class="col-md-3">
            {% include 'popup_modal/select.html'%}
        </div>
        <div class="col-md-3">
            <input id="low" type="number" style="width: 80px;" class="form-control" maxlength="5">
        </div>
    </div>
</div>