<div class="container-fluid" >
    <div class="row justify-content-start pt-2 pb-2">
    <h4>Track this stock:</h4>
</div>

<!-- Interval -->
<div class="row justify-content-start align-items-center mr-2 ml-2 mb-2">
    <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6">
        <h5 style="float: left;">Interval</h5>
    </div>
    <div class="col">
        <select class="custom-select mb-2" id="week-select">
            <option value="1" selected>1 Week</option>
            <option value="2">2 Weeks</option>
            <option value="3">3 Weeks</option>
            <option value="4">4 Weeks</option>
            <option value="5">5 Weeks</option>
            <option value="6">6 Weeks</option>
            <option value="7">7 Weeks</option>
            <option value="8">8 Weeks</option>
        </select>

    </div>
</div>

<!-- Operand -->
<div class="row justify-content-start mr-2 ml-2 mb-2">
    <div class="col">
        <h5 style="float: left;">Operand</h5>
    </div>
    <div class="col">
        <div class="custom-control custom-radio" style="float: left;">
            <input type="radio" class="custom-control-input" id="high-rd" name="operandGroupRadio" checked>
            <label class="custom-control-label" for="high-rd">High</label>
        </div>
    </div>
    <div class="col">
        <div class="custom-control custom-radio" style="float: left;">
            <input type="radio" class="custom-control-input" id="low-rd" name="operandGroupRadio">
            <label class="custom-control-label" for="low-rd">Low</label>
        </div>
    </div>
</div>

<!-- State -->
<div class="row justify-content-start mr-2 ml-2 mb-2">
    <div class="col">
        <h5 style="float: left;">State</h5>
    </div>
    <div class="col">
        <div class="custom-control custom-radio" style="float: left;">
            <input type="radio" class="custom-control-input" id="increasing-rd" name="stateGroupRadio" checked>
            <label class="custom-control-label" for="increasing-rd">Increasing</label>
        </div>
    </div>
    <div class="col">
        <div class="custom-control custom-radio" style="float: left;">
            <input type="radio" class="custom-control-input" id="decreasing-rd" name="stateGroupRadio">
            <label class="custom-control-label" for="decreasing-rd">Decreasing</label>
        </div>
    </div>
</div>


<!-- CheckBox -->
<div class="row justify-content-start mr-2 ml-4">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="this-week-cb">
        <label class="custom-control-label" for="this-week-cb">include this week</label>
    </div>
</div>
</div>
