{% extends "base.html" %}
{% block content %}

<h1>Stocks</h1>
<div class="chart">
	<div class="progress">
		<div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar">
		</div>
	</div>
	<canvas id="chart"></canvas>
</div>

<br>

<nav class="timeline" aria-label="Page navigation example">
	<ul class="pagination">
		<li class="page-item"><a class="page-link" href="#">1D</a></li>
		<li class="page-item"><a class="page-link" href="#">5D</a></li>
		<li class="page-item"><a class="page-link" href="#">1M</a></li>
		<li class="page-item"><a class="page-link" href="#">3M</a></li>
		<li class="page-item"><a class="page-link" href="#">6M</a></li>
		<li class="page-item"><a class="page-link" href="#">1Y</a></li>
		<li class="page-item"><a class="page-link" href="#">Max</a></li>
	</ul>
</nav>


<style>
	h1 {
		text-align: left;
		color: black;
	}

	.timeline {
		display: inline-block;
		margin: 0 auto;
	}

	#progress {
		width: 100%;
	}

	.progressWrapper {
		width: 40px;
	}

	#chart {
		width: 100%;
		height: 400px;
	}
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script>

	const stocksRaw = "{{ stocks|escapejs }}";
	var currentChart = null;

	$(document).ready(function () {
		requestData('1M');
		$("ul li a").on("click", function () {
			requestData(this.innerText);
		})
	});

	function requestData(interval) {
		// Reset colors
		$("ul li a").css('background-color', 'white');
		$("ul li a").css('color', '#2d7df6');
		// Highlight selected
		$("ul li a:contains('" + interval + "')").css('background-color', '#2d7df6');
		$("ul li a:contains('" + interval + "')").css('color', 'white');
		if (currentChart != null) currentChart.destroy();

		$('.progress').css('visibility', 'visible');
		$('.timeline').css('visibility', 'hidden');
		$.get("/api/multi_historic/" + stocksRaw + "/" + interval, function () {
		}).done(function (data) {
			reflectDataOnChart(data.data);
			$('.progress').css('visibility', 'hidden');
			$('.timeline').css('visibility', 'visible');
		}).fail(function () {
			console.log('err');
		});
	}

	function reflectDataOnChart(data) {
		var ctx = $('#chart')[0].getContext('2d');
		currentChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: data[0].data.map(d => d.label),
				datasets: getDataSet(data)
			},
			options: {}
		});
	}

	function getDataSet(stocks) {
		list = [];
		for (stock of stocks) {
			color = getRandomColor();
			list.push({
				label: stock.name,
				borderColor: color + ')',
				backgroundColor: color + ', 0.4)',
				data: stock.data.map(d => d.low),
			});
		}

		return list;
	}

	function getRandomColor() {
		var r = Math.ceil(Math.random() * 255);
		var g = Math.ceil(Math.random() * 255);
		var b = Math.ceil(Math.random() * 255);
		return 'rgb(' + r + ',' + g + ',' + b;
	}

</script>

{% endblock %}