{% extends "base.html" %}
{% block content %}

<div class="progress">
	<div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar">
	</div>
</div>

<h1>Prices timeline</h1>
<canvas id="chart"></canvas>
<nav class="timeline" aria-label="Page navigation example">
	<ul class="pagination">
		<li class="page-item"><a class="page-link" href="#">1D</a></li>
		<li class="page-item"><a class="page-link" href="#">5D</a></li>
		<li class="page-item"><a class="page-link" href="#">1M</a></li>
		<li class="page-item"><a class="page-link" href="#">3M</a></li>
		<li class="page-item"><a class="page-link" href="#">6M</a></li>
		<li class="page-item"><a class="page-link" href="#">1Y</a></li>
		<li class="page-item"><a class="page-link" href="#">Max</a></li>
	</ul>
</nav>

<hr>
<h1>Today's value</h1>
<canvas id="todayChart"></canvas>


<style>
	h1 {
		text-align: left;
		color: black;
	}

	.timeline {
		display: inline-block;
		margin: 0 auto;
	}

	#progress {
		width: 100%;
	}

	.progressWrapper {
		width: 40px;
	}

	canvas {
		width: 100%;
		height: 400px;
	}
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script>

	const stocksRaw = "{{ stocks|escapejs }}";
	var timelineChart = null;
	var todayPriceChart = null;
	const stocksColors = [];

	$(document).ready(function () {
		requestData('1M');
		$("ul li a").on("click", function () {
			requestData(this.innerText);
		})
	});

	function requestData(interval) {
		// Reset colors
		$("ul li a").css('background-color', 'white');
		$("ul li a").css('color', '#2d7df6');
		// Highlight selected
		$("ul li a:contains('" + interval + "')").css('background-color', '#2d7df6');
		$("ul li a:contains('" + interval + "')").css('color', 'white');
		if (timelineChart != null) timelineChart.destroy();

		$('.progress').css('visibility', 'visible');
		$('.timeline').css('visibility', 'hidden');
		$.get("/api/multi_historic/" + stocksRaw + "/" + interval, function () {
		}).done(function (data) {
			reflectDataOnCharts(data.data);
			$('.progress').css('visibility', 'hidden');
			$('.timeline').css('visibility', 'visible');
		}).fail(function () {
			console.log('err');
		});
	}

	function buildStocksColors(data) {
		for (datum of data)
			stocksColors.push(getRandomColor());
	}

	function reflectDataOnCharts(data) {
		// Build stock colors
		if (stocksColors.length == 0) buildStocksColors(data);

		// Build timeline chart
		var ctx = $('#chart')[0].getContext('2d');
		timelineChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: data[0].data.map(d => d.label),
				datasets: getDataSet(data)
			},
			options: {}
		});

		// Build today's prices chart
		if (todayPriceChart == null)
			todayPriceChart = new Chart($('#todayChart')[0].getContext('2d'), {
				type: 'bar',
				data: {
					labels: data.map(d => d.name),
					datasets: [{
						label: 'Stock price',
						data: data.map(d => d.data[0].low),
						backgroundColor: stocksColors.map(color => ("#80" + color)),
						borderColor: stocksColors.map(color => ("#FF" + color)),
						borderWidth: 1
					}]
				},
				options: { scales: { yAxes: [{ ticks: { beginAtZero: true } }] }, legend: { display: false } }
			});
	}

	function getDataSet(stocks) {
		list = [];
		var i = 0;
		for (stock of stocks) {
			list.push({
				label: stock.name,
				borderColor: '#' + stocksColors[i],
				backgroundColor: '#80' + stocksColors[i++],
				data: stock.data.map(d => d.low),
			});
		}

		return list;
	}

	function getRandomColor() {
		var letters = '0123456789ABCDEF';
		var color = '';
		for (var i = 0; i < 6; i++) {
			color += letters[Math.floor(Math.random() * 16)];
		}
		return color;
	}
</script>

{% endblock %}