{% extends "base.html" %}
{% block content %}
<!-- Chart library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<!-- Autocomplete libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<h1 id="empty">Click on Search icon to start adding stocks</h1>

<!-- Add stock section -->
<div class="searchSection">
	<h3>Add a stock</h3>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
		<label class="mdl-button mdl-js-button mdl-button--icon" for="searchFeild">
			<i class="material-icons" style="color:#03a9f4">search</i>
		</label>
		<div class="mdl-textfield__expandable-holder">
			<input class="mdl-textfield__input" type="text" id="searchFeild">
			<label class="mdl-textfield__label" for="sample-expandable">Search for stock</label>
		</div>
	</div>
	<button id="addStock" disabled class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
		Add stock</button>
	<div id="chips_wrapper"> </div>
</div>


<!-- Progress bar -->
<div id="progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>

<!-- Timeline prices chart -->
<h1>Prices timeline</h1>
<canvas id="chart"></canvas>
<nav class="timeline" aria-label="Page navigation example">
	<ul class="pagination">
		<li class="page-item"><a class="page-link" href="#">1D</a></li>
		<li class="page-item"><a class="page-link" href="#">5D</a></li>
		<li class="page-item"><a class="page-link" href="#">1M</a></li>
		<li class="page-item"><a class="page-link" href="#">3M</a></li>
		<li class="page-item"><a class="page-link" href="#">6M</a></li>
		<li class="page-item"><a class="page-link" href="#">1Y</a></li>
		<li class="page-item"><a class="page-link" href="#">Max</a></li>
	</ul>
</nav>

<!-- Today prices chart -->
<hr>
<h1>Today's value</h1>
<canvas id="todayChart"></canvas>

<style>
	#chips_wrapper {
		display: inline-block;
	}

	.searchSection {
		text-align: left;
		max-height: 200px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	#addStock {
		background-color: grey;
		display: inline-block;
		color: white;
		margin: 8px;
		text-transform: none;
	}

	h1,
	h3 {
		text-align: left;
		color: black;
	}

	#empty {
		text-align: center;
		display: none;
	}

	.timeline {
		display: inline-block;
		margin: 0 auto;
	}

	#progress {
		width: 100%;
	}

	.progressWrapper {
		width: 40px;
	}

	canvas {
		width: 100%;
		height: 300px;
	}
</style>

<script>
	var stocksRaw = "{{ stocks|escapejs }}";
	if (stocksRaw.endsWith('/')) stocksRaw = stocksRaw.slice(0, -1);

	var timelineChart = null;
	var todayPriceChart = null;

	$(document).ready(function () {
		initSearch();

		if (stocksRaw.length == 0) {
			showEmptyState();
			return;
		}

		requestData('1M');
		$("ul li a").on("click", function () {
			requestData(this.innerText);
		});

		initStocksChips();
	});

	function showEmptyState() {
		$('h1').css('visibility', 'hidden').css('max-height', '0');
		$('canvas').css('visibility', 'hidden').css('max-height', '0');
		$('hr').css('visibility', 'hidden').css('max-height', '0');
		$('.timeline').css('visibility', 'hidden').css('max-height', '0');
		$('#progress').css('visibility', 'hidden').css('max-height', '0');
		$('#empty').css('visibility', 'visible');
		$('#empty').css('display', 'inline');
	}

	function initStocksChips() {
		console.log(stocksRaw);
		stocksNames = stocksRaw.split('-');
		stocksNames.forEach((name) => {
			$('#chips_wrapper').append(
				'<span class="mdl-chip mdl-chip--deletable" style ="margin:4px">'
				+ '<span class="mdl-chip__text">' + name + '</span >'
				+ '<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>'
				+ '</span>'
			);
		});

		// Remove click listener
		$('#chips_wrapper button').click(function () {
			symbol = $(this).parent().get(0).innerText.replace('cancel', '');
			var currentStocks = stocksRaw.length == 0 ? [] : stocksRaw.split('-');
			var newStocks = '';
			currentStocks.forEach((stock) => {
				if (stock != symbol) newStocks += stock + '-';
			});

			if (newStocks.endsWith('-')) newStocks = newStocks.slice(0, -1);

			window.location.search = 'symbols=' + newStocks;
		});
	}

	function initSearch() {
		$.get("/api/stocks_names_and_symbols/", function () {
		}).done(function (data) {
			$('#searchFeild').autocomplete({
				source: function (request, response) {
					var results = $.ui.autocomplete.filter(data.data, request.term);
					response(results.slice(0, 10));
				}
			}, { select: onSearchDataChanged });
			$("#searchFeild").keyup(onSearchDataChanged);
		}).fail(function () {
			console.log('err');
		});


		$('#addStock').click(function () {
			stockSympol = $("#searchFeild").val().split('-')[0];
			currentURL = window.location.href;
			if (currentURL.endsWith('/')) currentURL = currentURL.slice(0, -1);
			if (currentURL.endsWith('#')) currentURL = currentURL.slice(0, -1);

			if (currentURL.endsWith('='))
				window.location.href = currentURL + stockSympol;
			else
				window.location.href = currentURL + '-' + stockSympol;

		});
	}

	function onSearchDataChanged() {
		if ($("#searchFeild").val().trim().length == 0) {
			$('#addStock').prop('disabled', true);
			$('#addStock').css('background-color', 'grey');
		} else {
			$('#addStock').prop('disabled', false);
			$('#addStock').css('background-color', '#03a9f4');
		}
	}

	function requestData(interval) {
		// Reset colors
		$("ul li a").css('background-color', 'white');
		$("ul li a").css('color', '#2d7df6');
		// Highlight selected
		$("ul li a:contains('" + interval + "')").css('background-color', '#2d7df6');
		$("ul li a:contains('" + interval + "')").css('color', 'white');
		if (timelineChart != null) timelineChart.destroy();

		$('#progress').css('visibility', 'visible');
		$('.timeline').css('visibility', 'hidden');

		$.get("/api/multi_historic/" + stocksRaw + "/" + interval, function () {
		}).done(function (data) {
			reflectDataOnCharts(data.data);
			$('#progress').css('visibility', 'hidden');
			$('.timeline').css('visibility', 'visible');
		}).fail(function () {
			console.log('err');
		});
	}


	function reflectDataOnCharts(data) {
		// Build timeline chart
		var ctx = $('#chart')[0].getContext('2d');
		timelineChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: data[0].data.map(d => d.label),
				datasets: getDataSet(data)
			},
			options: {}
		});

		// Build today's prices chart
		if (todayPriceChart == null)
			todayPriceChart = new Chart($('#todayChart')[0].getContext('2d'), {
				type: 'bar',
				data: {
					labels: data.map(d => d.name),
					datasets: [{
						label: 'Stock price',
						data: data.map(d => d.data[0].low),
						backgroundColor: '#4147e8',
						borderWidth: 1
					}]
				},
				options: { scales: { yAxes: [{ ticks: { beginAtZero: true } }] }, legend: { display: false } }
			});
	}

	function getDataSet(stocks) {
		list = [];
		var i = 0;
		for (stock of stocks) {
			list.push({
				label: stock.name,
				borderColor: 'blue',
				data: stock.data.map(d => d.low),
			});
		}

		return list;
	}

	function getRandomColor() {
		var letters = '0123456789ABCDEF';
		var color = '';
		for (var i = 0; i < 6; i++) {
			color += letters[Math.floor(Math.random() * 16)];
		}
		return color;
	}

</script>

{% endblock %}