{% extends "base.html" %}

{% block content %}
    <div class="">
        <h3> Budget {{user_budget}}
    </div>

    <div class="row justify-content-md-center">
        <div class="table-responsive col-md-6">
            <div> <p>Stocks to Sell</p></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="buySearchFeild">
                    <i class="material-icons" id="searchBuyIcon">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="buySearchFeild" placeholder="Search">
                    <label class="mdl-textfield__label"></label>
                </div>
            </div>

            <div class=" index">
                <div id="buytable" class="ag-theme-material"></div>
            </div>

        </div>
        <div class="table-responsive col-md-6">
            <div> <p>Stocks to Sell</p></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="sellSearchFeild">
                    <i class="material-icons" id="searchSellIcon">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="sellSearchFeild" placeholder="Search">
                    <label class="mdl-textfield__label"></label>
                </div>
            </div>

            <div class=" sellindex">
                <div id="selltable" class="ag-theme-material"></div>
            </div>

        </div>
        {% comment %} This end {% endcomment %}
        </div>


<div class="modal" id="buyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <input name="stock_name" id="buy_stock_name" required class="form-control" disabled type="text">
                <input name="stock_number" id="buy_stock_number" required class="form-control" placeholder="Stock Number" type="number">
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="row justify-content-end">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success" id='modal_action_btn' onclick="buyStock()">Buy</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>


<style>
	#buytable {
		height: 600px;
		width: 100%;
	}
    #selltable {
		height: 600px;
		width: 100%;
	}

	#buySearchFeild{
		padding-bottom: 8px;
		border: none;
	}
    #sellSearchFeild{
		padding-bottom: 8px;
		border: none;
	}
	#searchBuyIcon{
		color: #3492eb;
	}
    #searchSellIcon{
		color: #3492eb;
	}
</style>
{% endblock %}
{% block scripts %}
<script>
function getColumnValue(operation, stock_symble){
        $('#modal_title').text(operation + '  Stocks')
        $('#modal_action_btn').text(operation)
        $("#buy_stock_name").val(stock_symble);
        $("#buyModal").modal('show');
}
function buyStock(){
    let stock_symble = $("#buy_stock_name").val()
    let stock_number = $("#buy_stock_number").val()
    let operation = $("#modal_action_btn").text()
    if (!stock_number) {
        alert(`Please Set Stock number to ${operation}`)
        return 
    }
    method = operation == 'buy' ? 'POST': 'DELETE' 
    $.ajax({
            url: '{% url 'buy_stocks' %}',
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            method: method,
            data: {
                'symbol': stock_symble,
                'stock_number': stock_number
            },
            dataType: 'json',
            success: function (data) {
                if (data.error){
                    alert(data.error)
                }
                else {
                    location.reload(true);
                }

                }
        });
    $("#buyModal").modal('hide');
}
 {% comment %} This to search grid {% endcomment %}
const columnsDef = [
		{ headerName: "Symbol", field: "symbol", sortable: true, filter: true, cellStyle: { textAlign: 'left' } },
		{ headerName: "Price", field: "price", sortable: true, cellStyle: { textAlign: 'left' } },
		{ headerName: "Change", field: "change", sortable: true, cellStyle: cellColor }
];

const sellColumnsDef = [
		{ headerName: "Symbol", field: "symbol", sortable: true, filter: true, cellStyle: { textAlign: 'left' } },
		{ headerName: "Price", field: "price", sortable: true, cellStyle: { textAlign: 'left' } },
		{ headerName: "number", field: "number", sortable: true,  cellStyle: { textAlign: 'left' } }
];
function cellColor(params) {
    if (params.value.includes('-'))
        return { color: 'red', textAlign: 'left' };
    return { color: 'green', textAlign: 'left' };
}

var rowData = [];
var sellRowData = [];

const gridOptions = {
    columnDefs: columnsDef,
    rowData: rowData,
    onFirstDataRendered: makeColumnsFit,
    rowSelection: 'single',
    onRowClicked: (event) => {
        getColumnValue('buy', event.data.symbol)
    },

};

const sellgridOptions = {
    columnDefs: sellColumnsDef,
    rowData: sellRowData,
    onFirstDataRendered: makeColumnsFit,
    rowSelection: 'single',
    onRowClicked: (event) => {
        getColumnValue('sell', event.data.symbol)
    },

};

function makeColumnsFit(params) {
    params.api.sizeColumnsToFit();
}

$(document).ready(function () {
    // Get stocks from django as a json
    var stocks = JSON.parse('{{ stocks|escapejs }}');
    var user_stocks = JSON.parse('{{ user_stocks|escapejs }}');
    initTable(stocks, user_stocks);
    initSearchBar();
});

function initSearchBar() {
    $('#buySearchFeild').keyup(function () {
        gridOptions.api.setQuickFilter($('#buySearchFeild').val());
    });
    $('#sellSearchFeild').keyup(function () {
        sellgridOptions.api.setQuickFilter($('#sellSearchFeild').val());
    });
}

function initTable(stocks, user_stocks) {
    // Add stocks
    stocks.forEach(function (stock) {
        fields = stock['fields'];
        rowData.push({
            symbol: stock['pk'],
            price: fields['price'],
            change: (fields['change'] < 0 ? '▼ ' : '▲ ') + fields['change'] + '%'
        });
    });

    user_stocks.forEach(function (user_stock) {
        user_stock_fields = user_stock['fields'];
        stock_info = stocks.find(stock => stock.pk === user_stock_fields.stock)
        sellRowData.push({
            symbol: user_stock_fields.stock,
            price: stock_info['fields']['price'],
            number: user_stock_fields.stock_number
        });
    });


    // Show the grid
    new agGrid.Grid($('.index #buytable')[0], gridOptions);
    new agGrid.Grid($('.sellindex #selltable')[0], sellgridOptions);
    gridOptions.api.sizeColumnsToFit();
    sellgridOptions.api.sizeColumnsToFit();
}

</script>
{% endblock scripts %}
