{% extends "base.html" %}

{% block content %}
<style>
   
</style>
<div class="row">
    <h3 style="float: left;">Your fake budget: <span style="color: #dc3545;">{{user_budget}}$ </span></h3>
</div>

<div class="row justify-content-md-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 style="float: left;">Stocks to buy</h4>
            </div>

            <div class="col ali">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" style="float: right; padding-right: 50px;">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="buySearchFeild">
                        <i class="material-icons" id="searchBuyIcon" style="color: #dc3545;">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="buySearchFeild" placeholder="Search">
                        <label class="mdl-textfield__label"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class=" index">
                <div id="buytable" class="ag-theme-material"></div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 style="float: left;">Owned stocks</h4>
            </div>

            <div class="col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" style="float: right; padding-right: 50px;">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="sellSearchFeild">
                        <i class="material-icons" id="searchSellIcon"  style="color: #dc3545;">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="sellSearchFeild" style="border-color: #dc3545;" placeholder="Search">
                        <label class="mdl-textfield__label"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="sellindex">
                <div id="selltable" class="ag-theme-material"></div>
            </div>
        </div>
    </div>
</div>




<div class="modal" id="buyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input name="stock_name" id="buy_stock_name" required class="form-control" disabled type="text">
                <input name="stock_number" id="buy_stock_number" required class="form-control"
                    placeholder="stocks amount" type="number" style="margin-top:10px;" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);
                                         if (this.value < 0) this.value = '0';" maxlength="8">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-6 align-self-center">
                            <button type="button" class="btn btn-danger w-100 mt-2" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-6 align-self-center">
                            <button id="modal_action_btn" type="button" class="btn btn-primary w-100 mt-2"
                                onclick="buyStock()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<style>
    #buytable {
        height: 600px;
        width: 100%;
    }

    #selltable {
        height: 600px;
        width: 100%;
    }

    #buySearchFeild {
        padding-bottom: 8px;
        border: none;
    }

    #sellSearchFeild {
        padding-bottom: 8px;
        border: none;
    }

    #searchBuyIcon {
        color: #3492eb;
    }

    #searchSellIcon {
        color: #3492eb;
    }
</style>
{% endblock %}
{% block scripts %}
<script>
    function getColumnValue(operation, stock_symble) {
        const operationCapitalized = operation.charAt(0).toUpperCase() + operation.slice(1)
        $('#modal_title').text(operationCapitalized + '  stocks')
        $('#modal_action_btn').text(operationCapitalized)
        $("#buy_stock_name").val(stock_symble);
        $("#buyModal").modal('show');
    }
    function buyStock() {
        let stock_symble = $("#buy_stock_name").val()
        let stock_number = $("#buy_stock_number").val()
        let operation = $("#modal_action_btn").text()
        if (!stock_number) {
            alert(`Please Set Stock number to ${operation}`)
            return
        }

        method = (operation.toLowerCase() == 'buy' ? 'POST' : 'DELETE')
        $.ajax({
            url: "{% url 'buy_stocks' %}",
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            method: method,
            data: {
                'symbol': stock_symble,
                'stock_number': stock_number
            },
            dataType: 'json',
            success: function (data) {
                if (data.error) {
                    alert(data.error)
                }
                else {
                    location.reload();
                }

            }
        });
        $("#buyModal").modal('hide');
    }

    const columnsDef = [
        { headerName: "Symbol", field: "symbol", sortable: true, filter: true, cellStyle: { textAlign: 'left' } },
        { headerName: "Price", field: "price", sortable: true, cellStyle: { textAlign: 'left' } },
        { headerName: "Change", field: "change", sortable: true, cellStyle: cellColor }
    ];

    const sellColumnsDef = [
        { headerName: "Symbol", field: "symbol", sortable: true, filter: true, cellStyle: { textAlign: 'left' } },
        { headerName: "Market Price", field: "price", sortable: true, cellStyle: { textAlign: 'left' } },
        { headerName: "Amount", field: "number", sortable: true, cellStyle: { textAlign: 'left' } },
        { headerName: "Total Revenue", field: "value", sortable: true, cellStyle: { textAlign: 'left' } }
    ];

    function cellColor(params) {
        if (params.value.includes('-'))
            return { color: 'red', textAlign: 'left' };
        return { color: 'green', textAlign: 'left' };
    }

    var rowData = [];
    var sellRowData = [];

    const gridOptions = {
        columnDefs: columnsDef,
        rowData: rowData,
        onFirstDataRendered: makeColumnsFit,
        rowSelection: 'single',
        onRowClicked: (event) => {
            getColumnValue('buy', event.data.symbol)
        },

    };

    const sellgridOptions = {
        columnDefs: sellColumnsDef,
        rowData: sellRowData,
        onFirstDataRendered: makeColumnsFit,
        rowSelection: 'single',
        onRowClicked: (event) => {
            getColumnValue('sell', event.data.symbol)
        },

    };

    function makeColumnsFit(params) {
        params.api.sizeColumnsToFit();
    }

    $(document).ready(function () {
        // Get stocks from django as a json
        var stocks = JSON.parse('{{ stocks|escapejs }}');
        var user_stocks = JSON.parse('{{ user_stocks|escapejs }}');
        initTable(stocks, user_stocks);
        initSearchBar();
    });

    function initSearchBar() {
        $('#buySearchFeild').keyup(function () {
            gridOptions.api.setQuickFilter($('#buySearchFeild').val());
        });
        $('#sellSearchFeild').keyup(function () {
            sellgridOptions.api.setQuickFilter($('#sellSearchFeild').val());
        });
    }

    function initTable(stocks, user_stocks) {
        // Add stocks
        stocks.forEach(function (stock) {
            fields = stock['fields'];
            rowData.push({
                symbol: stock['pk'],
                price: fields['price'] + "$",
                change: (fields['change'] < 0 ? '▼ ' : '▲ ') + fields['change'] + '%'
            });
        });

        user_stocks.forEach(function (user_stock) {
            user_stock_fields = user_stock['fields'];
            stock_info = stocks.find(stock => stock.pk === user_stock_fields.stock);
            const p = Math.round((user_stock_fields.stock_price + Number.EPSILON) * 100) / 100;
            const n = parseInt(user_stock_fields.stock_number);
            const v = Math.round(((p * n) + Number.EPSILON) * 100) / 100;
            sellRowData.push({
                symbol: user_stock_fields.stock,
                price: p + "$",
                number: n,
                value: v + "$",
            });
        });


        // Show the grid
        new agGrid.Grid($('.index #buytable')[0], gridOptions);
        new agGrid.Grid($('.sellindex #selltable')[0], sellgridOptions);

        setWidthAndHeight('#buytable', '300px', gridOptions);
        setWidthAndHeight('#selltable', '300px', sellgridOptions);
    }

    function setWidthAndHeight(id, size, options) {
        var eGridDiv = document.querySelector(id);
        eGridDiv.style.setProperty('width', '100%');
        eGridDiv.style.setProperty('height', size);
        options.api.doLayout();
        options.api.sizeColumnsToFit();
    }
</script>
{% endblock scripts %}