{% extends "base.html" %}
{% block content %}
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>

<div class="index">
	<a id="btn" class="btn btn-secondary disabled" href="" role="button">Show stock info</a>
	<div id="table" class="ag-theme-material"></div>
</div>

<style>
	#table {
		height: 600px;
		width: 100%;
	}
</style>

<script>

	const columnsDef = [
		{ headerName: "Rank", field: "rank", sortable: true, cellStyle: { textAlign: 'left' } },
		{ headerName: "Symbol", field: "symbol", sortable: true, filter: true, cellStyle: { textAlign: 'left' } },
		{ headerName: "Name", field: "name", sortable: true, filter: true, cellStyle: { textAlign: 'left', width: '300px' }, resizable: true },
		{ headerName: "Price", field: "price", sortable: true, cellStyle: { textAlign: 'left' } },
		{ headerName: "Change", field: "change", sortable: true, cellStyle: cellColor }
	];

	function cellColor(params) {
		if (params.value.includes('-'))
			return { color: 'red', textAlign: 'left' };
		return { color: 'green', textAlign: 'left' };
	}

	var rowData = [];

	const gridOptions = { columnDefs: columnsDef, rowData: rowData, rowSelection: 'multiple', onFirstDataRendered: makeColumnsFit };

	function makeColumnsFit(params) {
		params.api.sizeColumnsToFit();
	}

	$(document).ready(function () {
		// Get data from django as a json
		var data = JSON.parse('{{ data|escapejs }}');
		initTable(data);
		$(".index #table").click(initCompareListener);
	});

	function initTable(data) {
		// Add data
		data.forEach(function (stock) {
			fields = stock['fields'];
			rowData.push({
				rank: fields['top_rank'],
				symbol: stock['pk'],
				name: fields['name'],
				price: fields['price'],
				change: fields['change'] + '%'
			});
		});

		// Show the grid
		new agGrid.Grid($('.index #table')[0], gridOptions);
		gridOptions.api.sizeColumnsToFit();
	}

	function initCompareListener() {
		selectedNodes = gridOptions.api.getSelectedNodes();
		const numberOfNodes = selectedNodes.length;

		if (numberOfNodes == 0) {
			$('#btn').attr('class', 'btn btn-secondary disabled');
			$('#btn')[0].innerText = 'Show stock info';
			return;
		}

		if (numberOfNodes == 1) {
			$('#btn').attr('class', 'btn btn-success');
			const symbol = selectedNodes[0].data.symbol;
			$('#btn').attr('href', 'stock/' + symbol);
			$('#btn')[0].innerText = 'Show (' + symbol + ') info';
			return;
		}

		var symbols = '';
		for (stock of selectedNodes) {
			symbols += stock.data['symbol'] + '-';
		}

		// Remove last ;
		symbols = symbols.slice(0, -1);

		$('#btn').attr('class', 'btn btn-primary');
		$('#btn').attr('href', 'compare?symbols=' + symbols);
		$('#btn')[0].innerText = 'Compare stocks (' + numberOfNodes + ')';
	}

</script>

{% endblock %}