{% extends "base.html" %}

{% block content %}
<div class="row">
    <h3 style="float: left;">Your fake budget: <span style="color: #dc3545;">{{user_budget}}$ </span></h3>
</div>

<div class="row justify-content-md-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 style="float: left;">Purchased Stocks</h4>
            </div>
            <div class="table-responsive">
                <div class="index">
                    <div id="user_stock_tb" class="ag-theme-material"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 style="float: left;">My History</h4>
                </div>
            </div>
            <div class="table-responsive">
                <div class="usr_history_indx">
                    <div id="user_stock_history_tb" class="ag-theme-material"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .row {
        width: 100%;
    }

    #user_stock_tb {
        height: 300px;
        width: 100%;
    }

    #user_stock_history_tb {
        height: 600px;
        width: 100%;
    }

    .rag-green-outer {
        color: green !important;
    }

    .rag-red-outer {
        color: red !important;
    }

    .rag-blue-outer {
        color: blue !important;
    }
</style>
{% endblock %}
{% block scripts %}
<script>
    const columnsDef = [
        { headerName: "Symbol", field: "symbol", sortable: true, filter: true, cellStyle: { textAlign: 'left' } },
        { headerName: "Number", field: "number", sortable: true, cellStyle: { textAlign: 'left' } },
        { headerName: "Buy Price", field: "price", sortable: true, cellStyle: { textAlign: 'left' } },
        { headerName: "Current Price", field: "curr_price", sortable: true, cellStyle: { textAlign: 'left' } },
        { headerName: "If Sell", field: "if_buy", sortable: true, cellStyle: { textAlign: 'left' } }
    ];

    const historyColumnsDef = [
        { headerName: "Symbol", field: "symbol", sortable: true, filter: true, cellStyle: { textAlign: 'left' } },
        { headerName: "Price", field: "price", sortable: true, cellStyle: { textAlign: 'left' } },
        { headerName: "Number", field: "number", sortable: true, cellStyle: { textAlign: 'left' } },
        { headerName: "Buy at", field: "buy_time", sortable: true, cellStyle: { textAlign: 'left' } },
        { headerName: "Sell/Buy", field: "type", sortable: true, cellStyle: { textAlign: 'left' } },
    ];

    var rowData = [];
    var historyRowData = [];

    const userStockGridOptions = {
        columnDefs: columnsDef,
        rowData: rowData,
        onFirstDataRendered: makeColumnsFit,
        rowSelection: 'single',
        onRowClicked: (event) => {
        },
        rowClassRules: {
            'rag-green-outer': (params) => params.data.if_buy > 0,
            'rag-red-outer': (params) => params.data.if_buy < 0,
            'rag-blue-outer': (params) => params.data.if_buy === 0
        }

    };

    const historyStockGridOptions = {
        columnDefs: historyColumnsDef,
        rowData: historyRowData,
        onFirstDataRendered: makeColumnsFit,
        rowSelection: 'single',
        onRowClicked: (event) => {
        },
        rowClassRules: {
            'rag-green-outer': (params) => params.data.type === 'Buy',
            'rag-red-outer': (params) => params.data.type !== 'Buy'
        }

    };

    function makeColumnsFit(params) {
        params.api.sizeColumnsToFit();
    }

    $(document).ready(function () {
        // Get stocks from django as a json
        var stocks = JSON.parse('{{ stocks|escapejs }}');
        var user_stocks = JSON.parse('{{ user_stocks|escapejs }}');
        var user_stocks_history = JSON.parse('{{ user_stocks_history|escapejs }}').reverse();
        initTable(user_stocks, user_stocks_history, stocks);
    });

    function initTable(user_stocks, user_stocks_history, stocks) {
        // Add stocks
        user_stocks.forEach(function (user_stock) {
            user_stock_fields = user_stock['fields'];
            console.log(JSON.stringify(stocks))
            let stock = stocks.find(sto => sto.pk === user_stock_fields.stock)
            rowData.push({
                symbol: user_stock_fields.stock,
                price: Math.round((user_stock_fields.stock_price + Number.EPSILON) * 100) / 100,
                number: user_stock_fields.stock_number,
                curr_price: stock.fields.price,
                if_buy: Math.round((((stock.fields.price - user_stock_fields.stock_price) * user_stock_fields.stock_number) + Number.EPSILON) * 100) / 100,
            });
        });

        user_stocks_history.forEach(function (user_stock) {
            user_stock_fields = user_stock['fields'];
            historyRowData.push({
                symbol: user_stock_fields.stock,
                price: Math.round((user_stock_fields.stock_price + Number.EPSILON) * 100) / 100,
                number: parseInt(user_stock_fields.stock_number),
                buy_time: new Date(Date.parse(user_stock_fields.stock_buy_time)).toString().slice(4),
                type: user_stock_fields.stock_operation ? 'Buy' : 'Sell'
            });
        });


        // Show the grid
        new agGrid.Grid($('.index #user_stock_tb')[0], userStockGridOptions);
        new agGrid.Grid($('.usr_history_indx #user_stock_history_tb')[0], historyStockGridOptions);

        setWidthAndHeight('#user_stock_tb', '150px', userStockGridOptions);
        setWidthAndHeight('#user_stock_history_tb', '150px', historyStockGridOptions);
    }

    function setWidthAndHeight(id, size, options) {
        var eGridDiv = document.querySelector(id);
        eGridDiv.style.setProperty('width', '100%');
        eGridDiv.style.setProperty('height', size);
        options.api.doLayout();
        options.api.sizeColumnsToFit();
    }

</script>
{% endblock scripts %}